<div class="well">
<div class="form-group">
<h2 class="page-header"> Add book form </h2>
        <label>Shelf Number</label>
        <input type="text" class="form-control" #ShelveNumber formControlName="Shelve Number" required>
</div>
<div class="form-group">
        <label>Name of Book</label>
        <input type="text" class="form-control" #NameofBook formControlName="Name of Book" required>
</div>
<div class="form-group">
        <label>Author</label>
        <input type="text" class="form-control" #Author formControlName="Author" required>
</div>
<div class="form-group">
        <label for="comment">Description</label>
        <textarea class="form-control" rows="5" id="Description"></textarea>
      </div>
<div class="form-group">
        <label>Barcode </label>
        <input type="text" class="form-control" #ISBNNumber formControlName="ISBN Number" required>   
</div>
<div class="form-group">
        <button type="submit" onclick="alert('Successfully added')" class="btn btn-info btn-block" test>Save</button>
      </div>
<!--<div>
        <button type="submit" [disabled]="!myForm.valid" class="btn btn-info btn-block" 
        (click)="addUserToService()">Save</button> 
      </div> -->
</div>