<div class="center" >
        <div class="well">
                <div class="form-group">
                <h2 class="page-header"> Edit book details </h2>
                        <label>Shelf Number</label>
                        <input type="text" class="form-control" [(ngModel)]="bookObject.shelfnumber" required>
        </div>

        <div class="form-group">
                <label>Name of Book</label>
                <input type="text" class="form-control" [(ngModel)]="bookObject.Nameofbook" required>
        </div>
        <div class="form-group">
                <label>Author</label>
                <input type="text" class="form-control" [(ngModel)]="bookObject.Author" required>
        </div>
        <div class="form-group">
                <label>Edition </label>
                <input type="text" class="form-control" [(ngModel)]="bookObject.Edition" required>
        </div>
        <div class="form-group">
                <label>DVD/CD </label>
                <input type="text" class="form-control" [(ngModel)]="bookObject.DVDCD"  required>
        </div>
        <div class="form-group">
                <label for="comment">Description</label>
                <textarea class="form-control" rows="5"[(ngModel)]="bookObject.Description"></textarea>
              </div>
        <div class="form-group">
                <label>Barcode </label>
                <input type="text" class="form-control" [(ngModel)]="bookObject.Barcode"  required>   
        </div>
        <button (click)="save()" class="btn btn-success">Save </button>
        <button (click)="cancel()" class="btn btn-danger">cancel </button>
</div>
</div>