<nav class="navbar navbar-info">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-book"></span>     E-Library</a>
    </div>


<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li class="active"><a routerLink=''> <span class="glyphicon glyphicon-home"></span> Home<span class="sr-only"></span></a></li>
    <li><a routerLink="/addbook">Add book</a></li>
    <li><a routerLink="/viewbook">View Book</a></li>
    <li><a routerLink="/issuebook">Issued books</a></li> 
    <li><a routerLink="/viewissuedbooks">View Issued books</a></li> 
    <li><a routerLink="/returnbook">Return books</a></li> 
  </ul>
    <ul class="nav navbar-nav navbar-right">
      
   <li class="btn btn-default float-right" >  <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i><span class="glyphicon glyphicon-search"></span></button> </li>
  
    <li><a routerLink="/logout">logout</a></li> 
  </ul> 
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

<div class="col-md-10 col-md-offset-1">
<router-outlet></router-outlet>
</div>



