
#left{
    width:50%;
    float:left;
    background:rgb(247, 243, 243);
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 9%;
   margin-bottom: 20%;
  }
  #right{
    width:50%;
    float:left;
    background:rgb(245, 241, 241);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 9%;
   margin-bottom: 20%;
  }
  